# FastAPI settings
PROJECT_NAME="B2B2H API"
API_V1_STR="/api/v1"
SECRET_KEY="change-me-to-something-very-secure"
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days

# Database settings
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/b2b2h"

# Gemini API Key (for AI recommendations / generation)
GEMINI_API_KEY=""
